body {
    font-family: avenir;
    margin: 0;
}

header ul {
    margin: 0;
    background-color: #0A183C;
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-top: 0.3em
}

ul {
    text-align: right;
}

/*grootte logo foto*/
nav img {
    width: 10em;

}

.boekicoon {
    width: 1.5em;
    position: absolute;
    top: 1.5em;
    margin-left: 1em;

}

.profielicoon {
    width: 1.5em;
    position: absolute;
    top: 1.5em;
    margin-left: 1em;
}


li:nth-of-type(2) {
    margin-top: 3em;
    margin-left: auto;


}

li:last-of-type {
    margin-top: 3em;

}


li a {
    color: white;
    text-decoration: none;
    margin-right: 5em;


}

li a:hover {
    color: yellow;
}



/*titel homepagina*/
h1 {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    color: #333333;
    margin-top: 2em;
    border-bottom: 3px solid #4ab6c9;
    width: 7em;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0.5em;

}

/* uitlegtekstje boovenin */
p {
    max-width: 25em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4em;
}

/*Verhalen blokjes*/
article {
    width: 20em;
    transition: .5s;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
}

article a img {
    width: 15em;
    height: 10em;
    padding-bottom: 4em;
    border-radius: 1em;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2), 0 3px 7px 0 rgba(0, 0, 0, 0.2);

}

article img:hover {
    filter: brightness(30%);
    transition: 0.3s ease-in;
}


h3 {
    color: #333333;

}

article p {
    width: 15em;
    margin-top: -7em;
    margin-left: -4.3em;

}

/*gele sterretjes*/
.checked {
    color: orange;

}

/*zwarte sterretjes*/
.fa-star {
    height: 5.5em;


}

article footer {
    margin-top: -2.4em;
    margin-left: 0.7em;

}


/* De articles naast elkaar plaatsen */
div {
    margin-left: auto;
    margin-right: auto;
    padding-left: 5em;
}


@media (min-width: 30em) {
    div {
        max-width: 60em;
        margin: auto;
        display: flex;
        flex-wrap: wrap;

    }
}



/*filtermenu*/

section {
    background-color: #efefef;
    display: flex;
    justify-content: space-between;
    padding: 1em;


}

select[name="sorteer"] {
    margin-top: 0.65em;
}


.filtericon {
    font-size: 1.4em;
    color: grey;
    cursor: pointer;
}

input[type=text] {
    padding: 1em;
    width: 15em;
    margin-left: 3em;
    margin-top: -3em;

}

.filtermenu {
    height: auto;
    position: absolute;
    z-index: 1;
    background-color: #efefef;
    overflow-x: hidden;
    transition: 0.5s;
    width: 15.5em;
    padding-left: 0em;

}

.show-filters{
    left:-16em;
}



.filtermenu h3 {
    margin-top: 1em;
    margin-left: 2em;
}

.filtermenu ul {
    font-size: 1em;
    color: #818181;
    display: block;
    transition: 0.3s;
    background-color: #efefef;
}

.filtermenu li {
    background-color: #efefef;
    margin-top: 1.5em;
    list-style: none;
}

input[type="checkbox"] {
    vertical-align: bottom;
    padding: 0;
    margin: 0;
    position: relative;
    top: -1.5em;
    left: -2em;
    overflow: hidden;

}

li label span {
    display: block;
    margin-top: -2em;
    white-space: nowrap;
    padding-bottom: 1em;
    margin-left: 0.5em;

}

label {
    display: block;
    margin-left: 2em;
    text-indent: -1em;
    vertical-align: middle;
    text-align: left;
}


/*footer

bron: https://codepen.io/scanfcode/pen/MEZPNd

*/

.footer {
    background-color: #0A183C;
    padding: 2em;
    font-size: 1em;
    color: #000000;
    display: flex;
    justify-content: space-between;
    margin-top: 8em;
}

footer h3 {
    color: #fff;
    font-size: 1em;
    text-transform: uppercase;
    margin-top: 3em;
    letter-spacing: 1px;

}

footer h3:first-of-type{
    padding-left: 3em;
}

.social-icons {
    padding-left: 0em;
    margin-bottom: 0em;
    margin-top: 0em;
    list-style: none;
}

.social-icons li {
    display: inline-block;
    margin-top: 2em;

}

.social-icons li.title {
    margin-right: 2em;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 1.2em;
    display: inline-block;
    line-height: 2.5em;
    width: 2.5em;
    height: 2.5em;
    text-align: center;
    margin-right: 0.5em;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

/*verhalenpagina*/
.verhaal {
    background-image: url('vormgeving%20verhaal%20ipad.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}

@media only screen and (min-width: 1024px) {
    .verhaal {
        background-image: url('');
        margin-top: 100%;
    }
}


@media only screen and (min-width: 580px) and (max-width: 1024px) {
    .verhaal {
        background-image: url('vormgeving%20verhaal%20ipad.png');
        margin-top: 200%;
    }
}

@media only screen and (max-width: 580px) {
    .verhaal {
        background-image: url('vormgeving%20verhaal%20iphone.png');
        margin-top: 500%;
    }
}


